/* TODO: Label selector type */
/*This affects everything in index*/
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* TODO: Label selector type */
/*For the entire body set background color to lemonchiffon*/
body {
  background-color: lemonchiffon;
}

/*For header and footer, set dimensions and color*/
header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

/*image width as well as background color for caption*/
figure {
  width: 200px;
  background-color: #f0ead6;
}

/* TODO: Label selector type */
.highlighted-text {
  font-weight: bolder;
}

/* TODO: Label selector type */
/*id contact-section setting up background color*/
#contact-section {
  background-color: #f0ead6;
}
